

<!-- pantalla terminada en fronend  -->


<ion-content id="content">
  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>    
        <ion-title slot="secondary" id="labelh">ADMINISTRADOR</ion-title>    
  </ion-toolbar>
<ion-card>
  <img  src="\assets\logoImperium.png" alt="">
</ion-card>
  
<ion-card align="center">
  <label id="label">Correo</label>
  <ion-input type="email" placeholder="Nombre"></ion-input>
 
  <label id="label">Password</label>
  <ion-input type="password" placeholder="password"></ion-input>
</ion-card>
<ion-button mode="md" id="btnMenus">Guardar</ion-button>
</ion-content>
