
<ion-content id="content" #content>
  <ion-header>
    <ion-toolbar id="toolbarh" color="black">
      <ion-buttons slot="start">
        <ion-button>
          <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\menu.png">
        </ion-button>
      </ion-buttons>
    
  
          <ion-buttons  slot="end">
            <ion-button>
              <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\back-arrow.png">
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>     
        <ion-title slot="secondary" id="labelh">Emergencies Robo</ion-title>    
  </ion-toolbar>

  
  
     <!-- diseñado para 3 botones -->
     <ion-card>
      <img  src="\assets\logoImperium.png" alt="">
    </ion-card>

  <ion-card  >
    <ion-grid>
      <ion-row *ngFor="let message of messages">
        <ion-col size="9" *ngIf="currentUser !== message.user" class="message other-message">
          <b> {{message.user}}</b><br>
          <span>{{message.msg}}</span>
          <div class="time" text-right> <br>
          {{message.createdAt | date:'short' }}</div>
        </ion-col>

        <ion-col offset="3" size="9" *ngIf="currentUser === message.user" class="message my-message">
          <b> {{message.user}}</b><br>
          <span>{{message.msg}}</span>
          <div class="time" text-right> <br>
          {{message.createdAt | date:'short' }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  


</ion-content>

<ion-footer mode="md" id="footer">
  <ion-toolbar id="toolbarf">
    <ion-input id="input" placeholder="Escribe..." [(ngModel)]="newMsg"></ion-input>
    <ion-button id="btnMenus" slot="end" (click)="senMessage()"  [disabled]="newMsg === '' ">
      
       <ion-label id="label" slot="start" >Enviar</ion-label>
        <ion-icon name="send" slot="end"></ion-icon>
     
    </ion-button>
  </ion-toolbar>
</ion-footer>

